.bg--ouro, .bg--gold, .bg--golden {
    background-color: gold;
}

.bg--prata, .bg--silver {
    background-color: silver;
}

.bg--vermelho, .bg--red{
    background-color: red;
}

.bg--preto, .bg--black{
    background-color: black;
}

.bg--branco, .bg--white{
    background-color: white;
}


.bg--carmesim, .bg--crimson{
    background-color: crimson;
}