/* - - - - - - - - - - - - - buttons - - - - - - - - - - - - - - - - - */
.btn,
.inp {
  outline: 0;
  border: 0;
  border-radius: 0px;
  border: 1px solid transparent;
  font-weight: 400;
  vertical-align: middle;
  letter-spacing: 0.4px;
  background-color: transparent;
  font-size: 0.75rem;
}

.btn-full,
.inp-full {
  width: 100%;
}

.inp-btn {
  display: flex;
}

.inp-btn-full input {
  flex: 1;
}
/* - - - - - - - - - - - - - buttons - - - - - - - - - - - - - - - - - */
.btn {
  text-align: center;
  padding: 7px 18px;
}

.btn:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--light);
}

.btn-light {
  background-color: var(--light);
  color: var(--dark);
}

.btn-dark {
  background-color: var(--dark);
  color: var(--light);
}

/* - - - - - - - - - - - - - inputs - - - - - - - - - - - - - - - - - */
.inp {
  padding: 7px 11px;
}

.inp-light {
  background-color: var(--light-2);
  color: var(--dark);
}

.inp-dark {
  background-color: var(--dark-2);
  color: var(--light);
}

.inp-light:active,
.inp-light:focus,
.inp-dark:active,
.inp-dark:focus {
  border: 1px solid var(--primary);
}

.inp-section,
.inp-section-inline {
  margin-bottom: 1rem;
}

.inp-section label,
.inp-section-inline label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.inp-section-inline div {
  display: flex;
}

.inp-radio-label {
  display: block;
  width: 100%;
}
/* - - - - - - - - - - - - - modal - - - - - - - - - - - - - - - - - */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-2);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 2rem;
  background-color: var(--dark);
  min-width: 30rem;
}
/* - - - - - - - - - - - - - table - - - - - - - - - - - - - - - - - */
.table {
  padding: 1rem;
}
.table div {
  display: grid;
  gap: 0.5rem;
  font-size: 0.85rem;
  grid-template-columns: minmax(100px, 200px) minmax(200px, 1fr);
  margin-bottom: 0.25rem;
}
.table div span:first-child {
  font-family: var(--mn-ibm);
  font-weight: 600;
  /* text-align: right; */
}

.table div span:last-child {
  font-family: var(--mn-ibm);
  font-weight: 400;
  text-align: left;
}

/* - - - - - - - - - - - - - color-select - - - - - - - - - - - - - - - - - */
.color-select {
  display: block;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--dark-2);
  border-radius: 4px;
}

.color-select:hover {
  cursor: pointer;
  border: 1px solid var(--light-2);
}

.color-red {
  background-color: var(--danger);
}

.color-blue {
  background-color: var(--info);
}

.color-gray {
  background-color: #2f2f2f;
}

.color-white {
  background-color: var(--light);
}

.color-gold {
  background-color: #ffd700;
}
/* - - - - - - - - - - - - - card - - - - - - - - - - - - - - - - - */
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  padding: 1rem;
  background-color: var(--dark);
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card-header {
  flex: 1;
}

.card-img {
  width: 100%;
  height: auto;
  max-width: 240px;
}

.card-img__small {
  width: 100%;
  height: auto;
  max-width: 180px;
}

.card-price p {
  margin-bottom: 0;
}

.card-configuration {
  display: flex;
}

.card-configuration-colors, .card-configuration-storage, .card-price {
  flex: 1;
}
/* - - - - - - - - - - - - - slider - - - - - - - - - - - - - - - - - */
.product {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.product > * {
  flex: 1;
  border: 1px solid var(--dark-2);
  padding: 1rem;
}

.product-item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-img {
  max-height: 450px;
}
.product-info {
  display: flex;
  flex-direction: column;
}
/* - - - - - - - - - - - - - user - - - - - - - - - - - - - - - - - */
.card-user {
  padding: 1rem;
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--dark);
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* - - - - - - - - - - - - - menu vertical - - - - - - - - - - - - - - - - - */
.menu-vertical {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: var(--dark-2);
  border-radius: 4px;
}
.menu-vertical li a {
  display: block;
  padding: 10px 12px;
  background-color: var(--dark);
}

.menu-vertical li {
  border-left: 3px solid transparent;
}
.menu-vertical li:hover {
  border-left: 3px solid var(--primary);
}

/* - - - - - - - - - - - - - checkbox - - - - - - - - - - - - - - - - - */
.cart-options li {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 10px;
}

/* - - - - - - - - - - - - - message - - - - - - - - - - - - - - - - - */
.message {
  padding: 20px;
  border: 1px solid var(--dark-2);
}

.message-danger {
  color: var(--danger);
}

.message-absolute {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: var(--light);
  text-align: center;
}

.message, .message-absolute {
  transition: all .5s ease-in-out;
}

.message:target, .message-absolute:target {
  transition: all .5s ease-in-out;
}
/* - - - - - - - - - - - - - sign in - - - - - - - - - - - - - - - - - */
.sign-wrapper {
  max-width: 30rem;
  margin: 0 auto;
}
.sign {
  padding: 2rem;
  min-width: 30rem;
}

.new-item-results {
  padding: 2rem;
  min-width: 30rem;
}
/* - - - - - - - - - - - - - menu - - - - - - - - - - - - - - - - - */
.menu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.menu li {
  position: relative;
}

.menu li a {
  display: inline-block;
  padding: 2px 14px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-size: 0.8rem;
}

.menu li a:hover {
  color: var(--light-2);
  background-color: var(--dark);
}
/* - - - - - - - - - - - - - items - remove - - - - - - - - - - - - - - - - - */
.items-remove {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* - - - - - - - - - - - - - category - - - - - - - - - - - - - - - - - */

.category {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.category > div {
  padding: 15px 30px;
  flex: 1;
  text-align: center;
  border-radius: 6px;
  background: var(--primary);
  border: 1px solid #ff5683;
  box-shadow: 0 2px 2px rgb(0 0 0 / 34%);
}
/* - - - - - - - - - - - - - cart - - - - - - - - - - - - - - - - - */
.cart-wrapper {
  background: var(--primary);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
  margin-bottom: 1px;
}
.cart-wrapper ul {
  flex: 1;


}
.cart-wrapper h4 {
  flex: 1;
  padding-left: 1rem;
  margin: 0;
}

.cart-list li {
  display: flex;
  background: var(--dark);
  align-items: center;
  border-bottom: 2px solid var(--dark-2);
  padding-left: 10px;
  padding-right: 10px;
}

.cart-list li label {
  padding: 10px;

}

.cart-buttons {
  display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
/* - - - - - - - - - - - - -address - - - - - - - - - - - - - - - - - */
.address-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.address-list li {
  padding: 1rem;
  border-bottom: 1px solid var(--dark-2);
  margin-bottom: 1px;
}
/* - - - - - - - - - - - - - xxx - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - xxx - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - animation - - - - - - - - - - - - - - - - - */
