/* - - - - - - - - - - - - - buttons - - - - - - - - - - - - - - - - - */
.btn,
.inp {
  outline: 0;
  border: 0;
  border-radius: 0px;
  border: 1px solid transparent;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 0.75rem;
}

.btn-full,
.inp-full {
  width: 100%;
}

.inp-btn {
  display: flex;
}

.inp-btn-full input {
  flex: 1;
}
/* - - - - - - - - - - - - - buttons - - - - - - - - - - - - - - - - - */
.btn {
  text-align: center;
  padding: 7px 18px;
}

.btn:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--light);
}

.btn-light {
  background-color: var(--light);
  color: var(--dark);
}

.btn-dark {
  background-color: var(--dark);
  color: var(--light);
}

/* - - - - - - - - - - - - - inputs - - - - - - - - - - - - - - - - - */
.inp {
  padding: 7px 11px;
}

.inp-light {
  background-color: var(--light);
  color: var(--dark);
}

.inp-dark {
  background-color: var(--dark-2);
  color: var(--light);
}

.inp-light:active,
.inp-light:focus {
  border: 1px solid var(--light-2);
}

.inp-dark:active,
.inp-dark:focus {
  border: 1px solid var(--light);
}

.inp-section {
  margin-bottom: 1rem;
}

.inp-section label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}
/* - - - - - - - - - - - - - modal - - - - - - - - - - - - - - - - - */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-2);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 2rem;
  background-color: var(--dark);
  min-width: 30rem;
}
